<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.more.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.more.ShowMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.more.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.fragments.LoginAndSignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.more.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.more.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.more.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MessCommittee.activities.EditCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MessCommittee.activities.EditMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MessCommittee.activities.MessCommitteeMain"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashScreen"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notifications.AlarmReceiver" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.theayushyadav11.MessEase.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="IHhEavcmQQdYClbIvaXgvdEt" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="com.phonepe.android.sdk.isUAT" android:value="true"/>
        <meta-data android:name="com.phonepe.android.sdk.isSimulator" android:value="true"/>
        <meta-data android:name="com.phonepe.android.sdk.MerchantId" android:value="MERCHANTUAT"/>
<!--        <meta-data android:name="com.phonepe.android.sdk.AppId" android:value="appId"/>-->
    </application>

</manifest>